{% stylesheets '@AdamsnetAssetBundle/Resources/public/kickstrap.less'
    filter='less,?yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts '@AdamsnetAssetBundle/Resources/public/Kickstrap/js/kickstrap.js'
               '@AdamsnetAssetBundle/Resources/public/Kickstrap/js/jquery-1.7.1.min.js'
    filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}