{# src/Adamsnet/BlogBundle/Resources/views/Blog/list.html.twig #}
{% extends 'AdamsnetBlogBundle::layout.html.twig' %}

{% block title %}List Blog Posts{% endblock%}

{% block content %}
    <header>
        <h1>List Blog Posts</h1>
    </header>

    {% if app.session.hasFlash('blogger-notice') %}
        <div class="blogger-notice">
            {{ app.session.flash('blogger-notice') }}
        </div>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('AdamsnetBlogBundle_blog_new') }}"><i class="icon-plus icon-white"></i> New Post</a>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
                <tr>
                    <td>
                        <a href="{{ path('AdamsnetBlogBundle_blog_show', { 'id': blog.id }) }}">
                            {{ blog.title }}
                        </a>
                    </td>
                    <td>{{ blog.author }}</td>
                    <td>
                        <a href="{{ path('AdamsnetBlogBundle_blog_edit', { 'id': blog.id }) }}" alt="Edit" title="Edit">
                            <i class="icon-pencil"></i>
                        </a>
                        <a href="{{ path('AdamsnetBlogBundle_blog_delete', { 'id': blog.id }) }}" alt="Delete" title="Delete">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}