{# src/Adamsnet/BlogBundle/Resources/views/Blog/new.html.twig #}
{% extends 'AdamsnetBlogBundle::layout.html.twig' %}

{% block title %}New Blog Post{% endblock%}

{% block content %}
    <header>
        <h1>Create New Blog Post</h1>
    </header>

    {% if app.session.hasFlash('blogger-notice') %}
        <div class="blogger-notice">
            {{ app.session.flash('blogger-notice') }}
        </div>
    {% endif %}

    <form action="{{ path('AdamsnetBlogBundle_blog_new') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.blog) }}
        {{ form_row(form.image) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}