<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}Home{% endblock %} - Adamsnet.info</title>
        {% include 'AdamsnetAssetBundle::assets.html.twig' %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block navigation %}
                <div class="navbar navbar-inverse">
                  <div class="navbar-inner">
                    <a class="brand" href="{{ path('AdamsnetBlogBundle_homepage') }}">Adamsnet.info</a>
                    <ul class="nav pull-right">
                        <li><a href="{{ path('AdamsnetBlogBundle_homepage') }}">Home</a></li>
                        <li><a href="{{ path('AdamsnetBlogBundle_about') }}">About</a></li>
                        <li><a href="{{ path('AdamsnetBlogBundle_contact') }}">Contact</a></li>
                    </ul>
                  </div>
                </div>
            {% endblock %}

            <div class="row">
                <div class="span12">
                    {% block body %}
                        <div class="row">
                            <div class="span8">
                                {% block content %}{% endblock %}
                            </div>
                            <div class="span4">
                                {% block sidebar %}{% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>

            <div id="footer">
                {% block footer %}
                    <a href="{{ path('AdamsnetBlogBundle_homepage') }}">Adamsnet.info</a> is the personal web site of Jamie Adams.  <a href="{{ path('AdamsnetBlogBundle_about') }}">Click Here</a> for more info.
                {% endblock %}
            </div>
        </div>

    </body>
</html>