{# src/Adamsnet/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}